@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sono:wght@200;300;400;500;600;700;800&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
h1{
  margin: 0;
}
/* Declaration of varibles..*/
:root{
  --white: #ffffff;
  --grey: rgb(223, 223, 223);
  --black: #000000;
  --green1: rgb(47, 141, 47);
  --green2: rgb(102, 211, 102);
  --green3: rgb(193, 255, 193);
}

/* For the register and login pages..*/
.startapp{
  height: 99.5vh;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green1);
}
.userbox{
  border: solid 1px var(--white);
  height: fit-content;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 6rem 0 0 0;
  background-color: var(--white);
  box-shadow: 2px 1px 30px 5px rgb(104, 104, 104);
  border-radius: 15px;
}
.heading{
  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
}
.heading .logo1{
  font-family: 'Sono', sans-serif;
  font-size: 300%;
  color: var(--black);
  font-weight: 500;
}
.heading .logo2{
  font-family: 'Sono', sans-serif;
  font-size: 300%;
  color: var(--green1);
  font-weight: 500;
}
.pageLogo{
  width: fit-content;
  margin: 0 0 2rem 1.4rem;
}
.pageLogo .logoB1{
  font-family: 'Sono', sans-serif;
  font-size: 250%;
  color: var(--black);
  font-weight: 500;
}
.pageLogo .logoB2{
  font-family: 'Sono', sans-serif;
  font-size: 250%;
  color: var(--green1);
  font-weight: 500;
}
.userfield{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userinput{
  width: 20rem;
  height: 2rem;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: solid 2px var(--green1);
  outline: none;
  font-size: 110%;
  color: var(--green1);
}
.userinput::placeholder{
  color: var(--black);
}
.inputbtn{
  width: 6rem;
  height: 3rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--white);
  border: solid 1px var(--green1);
  color: var(--green1);
  outline: none;
  font-size: 105%;
  font-weight: 600;
}
.inputbtn:hover{
  background-color: var(--green1);
  border: none;
  color: white;
}

/* Layout for the pages..*/
.backpage{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.leftside{
  background-color: #ffffff;
}
.rightside{
  display: flex;
  flex-direction: column;
  width: 84.1%;
  
}

/* For the side Navigation bar...*/
.sidebarcont{
  border: none;
  border-right: solid 1px rgb(240, 240, 240);
  height: 95.5vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
  box-shadow: 1px 1px 17px -8px rgb(192, 192, 192);
}
.navbox{
  width: 100%;
}
.navheading{
  margin: 0 0 -0.5rem 0.8rem;
  color: rgb(203, 203, 203);
  font-size: 80%;
}
.navcontent ul{
  list-style: none;
  padding: 0;
}
.navcontent li{
  margin: 0;
}
.navselect{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1rem 0;
}
.navselect .smalldiv{
  border-radius: 4px;
  height: 1.5rem;
  width: 0.2rem;
  margin: 0 0.5rem 0 0;
}
.actualdiv{
  border-radius: 7px;
  height: 1.5rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: rgb(116, 117, 134);
  font-weight: 500;
  font-size: 90%;
}
.navselect .actualdiv:hover{
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  color: var(--green1); 
} 
.activelink{
  background-color: black;
}

/* For the topbar..*/
.topbarcont{
  border-bottom: solid 1px rgb(240, 240, 240);
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 1px 1px 17px -8px rgb(192, 192, 192);
}


/* For the main content of the page...*/
.pagecontent{
  border: solid 0px;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
}
.topheading{
  display: flex;
  flex-direction: row;
}
.button1{
  margin-left: 70%;
  background-color: var(--white);
  border: solid 1px var(--green1);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(180, 175, 203);
}
.button1:hover{
  background-color: var(--green1);
  color: white;
}
.contentbox{
  margin: 2.5rem 0 0 0;
  padding: 0 0 0 0;
}
.contentbox p{
  font-size: 120%;
  color: rgb(147, 155, 186);
  
}
.propertyInput{
  display: flex;
  flex-direction: column;
}
.propertyInput input{
  margin: 0 0 1rem 0;
  width: 35rem;
  height: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 1px rgb(153, 153, 153);
  color: var(--green1);
}
.tenantInput{
  display: flex;
  flex-direction: column;
}
.tenantInput input{
  margin: 0 0 1rem 0;
  width: 35rem;
  height: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 1px rgb(153, 153, 153);
  color: var(--green1);
}
.submitbtn{
  height: 2rem;
  width: 5rem;
  background-color: var(--green1);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
